@using LeaveManagementSystem.Web.Services.LeaveRequests
@model IEnumerable<LeaveRequestListVM>

<h1>Reviewing Your Leave Requests</h1>

<a asp-action="Create" asp-controller="LeaveRequests" class="btn btn-primary">Request Leave</a>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LeaveType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfDays)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeaveRequestStatus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            var className = string.Empty;
            if (item.LeaveRequestStatus == LeaveRequestStatusEnum.Pending)
            {
                className = "warning";
            }
            else if (item.LeaveRequestStatus == LeaveRequestStatusEnum.Approved)
            {
                className = "success";
            }
            else if (item.LeaveRequestStatus == LeaveRequestStatusEnum.Rejected)
            {
                className = "danger";
            }
            else if (item.LeaveRequestStatus == LeaveRequestStatusEnum.Cancelled)
            {
                className = "dark";
            }
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.LeaveType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                    <td>
                    @Html.DisplayFor(modelItem => item.NumberOfDays)
                </td>
                <td>
                    <span class="badge rounded-pill bg-@className">@item.LeaveRequestStatus.ToString()</span>
                </td>
                <td>
                    @if (item.LeaveRequestStatus == LeaveRequestStatusEnum.Pending)
                    {
              
                        <button data-id="@item.Id" class="btn btn-danger cancelBtn" >Cancel</button>
                      
                    }
       

                </td>
            </tr>
        }
    </tbody>
</table>

<form id="cancelFrom" asp-action="Cancel">
    <input type="hidden" name="id" id="leaveRequestId" />
 
</form>

@section Scripts{
    <script>
        $(document).ready(function () {
            $(".cancelBtn").click(
                function (e) {
                      Swal.fire({
          title: "Are you sure?",
          text: "You won't be able to revert this!",
          icon: "warning",
          showCancelButton: true,
          confirmButtonColor: "#3085d6",
          cancelButtonColor: "#d33",
          confirmButtonText: "Yes, cancel it!"
        }).then((result) => {
          if (result.isConfirmed) {
              var id = $(this).data("id");
                $("#leaveRequestId").val(id);
                $("#cancelFrom").submit();
            Swal.fire({
              title: "Canceled!",
              text: "Your Leave been Canceled.",
              icon: "success"
            });
          }
        });
            });
        });
             
      

    </script>
}                   